* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 60%;
  }
  
  body {
    color: white;
    }
  
  h3{
    color:#503a98;
  }
  
  body,
  input,
  button,
  textarea {
    font: 400 1.8rem/1 "Nunito", sans-serif;
  }
  
  .container{
   
    width: 60%;
    border-radius:5px;
    padding: 80px; 
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  a{
    text-decoration: none;
  }