html {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  body{
    background: rgb(243, 243, 243);
  }
  
  /* GRID GERAL */
  
  .estrutura{
    display:grid;
    grid-template-columns: minmax(200px, 1fr) 3fr 1fr;
    grid-template-areas:
        "header main aside"
  }
  
  .header{
    grid-area: header;
  
  }
  
  .status{
    margin-top: 30px;
    
  }
  
  .status p{
    color: grey;
    font-size: 12px;
  }
  
  .painel-avisos {
    background: #f3bb64;
    border-radius: 4px;
    height: 200px;
    text-align: left;
  
    max-width: 850px;
    margin: 50px 0 50px 0;
    padding: 10px;
  }
  
  .chart-atendimento {
    background: #f3bb64;
    border-radius: 4px;
    height: 330px;
    text-align: left;
  
    max-width: 850px;
    margin: 50px 0 50px 0;
    padding: 10px;
    
  }

  .sidebar {
    height: 100%;
    padding: 30px;
    
    background: #69b7d6;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    margin: 50px auto 50px auto;
    
  
  }
  
  .sidebar a:hover {
   
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    
  
  }
  
  
  
  
  
  
  .sidebar img{
      width:50px;
      margin-bottom: 70px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .container-falta {
    background: #f3bb64;
    border-radius: 4px;
    width: 200px;
    height: 200px;
    padding: 20px;
  
    text-align: center;
    font-size: 15px;
    margin-top: 215px;
    margin-bottom: 25px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }
  
  footer a{
    background:#503a98;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
  
  }

  aside {
    margin-top: 20px;
    position: relative;
    margin-right: 2px;

    
    
  }
  
  .aside-1{
     background:white;
     height:100%;
     border-radius: 40px 0 0 0;
     padding: 20px;

     display: flex;
     flex-direction: column;
     align-items: center;
  
  }
  
  .aside-1 img{
      width:250px;
      margin: 10px;
      
  }
  
  .sidenav{
    grid-area: sidenav;
  }
  
  .footer{
    grid-area: footer;
  }
  
  .status-user{
    background:#f3bb64;
    border-radius: 5px;
    padding: 3px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    color: white;
   
  }
  

  .ident-user {
    color: #503a98;
  }
  
  
  
  
  