<html lang="pt_BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unity | Cadastrar Turma</title>

    <link rel="icon" href="/images/icon-logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-cadastro-turma.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
          rel="stylesheet" />
</head>

<body>
    <aside class="sidebar" class="animate-right">
        <header>
            <img src="/images/icon-logo.png" alt="Logo da Unity" />
        </header>



        <footer>
            <button onclick="history.back()">
                <img src="/images/Botão.png" alt="Voltar" />
            </button>
        </footer>
    </aside>
    <main class="container-admin">

        <div>
            <h1>Cadastrar Turma</h1>
            <p>Segunda, 23 de janeiro de 2020</p>
        </div>

        <form method="post" action="">
           

            <p>
                <label for="nome_cad">Nome</label>
                <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="" />
            </p>

            <p>
                <label for="codigo_cad">Código</label>
                <input id="codigo_cad" name="codigo_cad" required="required" type="text" placeholder="" />
            </p>

           

            <p>
                <button class="bt" type="submit">Cadastrar</button>
                
            </p>

        
        </form>


    </main>


</body>

</html>