<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unity | Perfil do Usuário</title>

    <link rel="icon" href="/images/icon-logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-informacoes-usuario.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <aside class="sidebar" class="animate-right">
        <header>
          <img src="/images/icon-logo.png" alt="Logo da Unity" />
        </header>
  
        <footer>
          <button onclick="history.back()">
            <img src="/images/Botão.png" alt="Voltar" />
          </button>
        </footer>
      </aside>

      <main class="container">

        <h1>Informações Pessoais</h1>
        <p>Informações pessoais só podem ser alteradas em sua instituição educacional.</p>

        <h4>Nome</h4>
        <p class="inform">Jane Doe</p>
        <h4>Data de Nascimento</h4>
        <p class="inform">10/08/2000</p>
        <h4>CPF</h4>
        <p class="inform">175.645.387-83</p>
        <h4>Ano</h4>
        <p class="inform">Ensino Médio - 2° Ano</p>
        <h4>Contato</h4>
        <p class="inform">(21) 9 8508-8640</p>
        <h4>E-mail</h4>
        <p class="inform">janedoe@gmail.com</p>
        <h4>Endereço Completo</h4>
        <p class="inform">Rua Dr Celestino, 45 Apto 500 / 24020-091</p>
        <h4>Nome do Responsável</h4>
        <p class="inform">John Doe</p>
        <h4>Contato do Responsável</h4>
        <p class="inform">(21) 9 8811-8624</p>
        
        

        

      </main>

  </body>

</html>