<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Unity | Login de Aluno</title>

    
    <link rel="icon" href="/images/icon-logo.png">
    
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-login.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <aside class="sidebar" class="animate-right">
      <img src="/images/icon-logo.png" alt="Logomarca da Unity" />
      <footer>
        <button onclick="history.back()">
          <img src="/images/Botão.png" alt="Voltar" />
        </button>
      </footer>
    </aside>

    <main class="container">

      <h1>Realize seu Login!</h1>
      <p class="bold">Não tem uma conta? </p>
      <p>Realize seu cadastro na sua Instituição de Ensino.</p>

      <input type="email" placeholder="E-mail" ></input>
      <input type="password" placeholder="Senha"></input>
      <button onclick="window.location.href=('/perfil-aluno')" class="bt">Entrar</button>  
    </main>
  </body>
</html>
