<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unity | Perfil do Administrador</title>

    <link rel="icon" href="/images/icon-logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-perfil-admin.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />

    

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <div class="sidebar">
      <header class="header">
        <img src="/images/icon-logo.png" alt="Logo da Unity" />
      </header>

      <nav>
        <ul>
          <li><a href="/lista-usuario">Informações de Usuários</a></li>
          <li><a href="#">#</a></li>
          <li><a href="#">#</a></li>
          <li><a href="#">#</a></li>
        </ul>
      </nav>

  </div>


    <a  href="../index.html" class="sair">Sair</a> 
    

    <main class="container-admin">

      

      <div>
        <h3>Bem vindo a área de Administrador!</h3>
        <p>Segunda, 23 de janeiro de 2020</p>
      </div>

  
        <div class="painel-avisos">
        <h3>Painel de Avisos</h3>
      </div>

       <ul class="admin-tarefas">
          <li><a href="/cadastro-usuario">Cadastrar Usuário</a></li>
          <li><a href="/cadastro-admin">Cadastrar de Administrador</a></li>
          <li><a href="/cadastro-turma">Cadastrar Turma</a></li>
          
        </ul>

        <ul class="admin-tarefas">
          <li><a href="/editar-atendimento">Editar Horários de Atendimento</a></li>
          <li><a href="/editar-presenca">Editar Presença de Aluno</a></li>
          
        </ul>
       
        
      </main>
    
  </body>
</html>