<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unity | Perfil do Aluno</title>

    <link rel="icon" href="/images/icon-logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-perfil-aluno.css" />
    

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
</head>

<body>

    <div class="estrutura">
       
        <div class="sidebar">
            <header class="header">
              <img src="/images/icon-logo.png" alt="Logo da Unity" />
            </header>
      
            <nav>
              <ul>
                <li><a href="/calendario-aulas">Calendário de Aulas</a></li>
                <li><a href="/manual-usuario">Manual do usuário</a></li>
                <li><a href="/informacoes-usuario">Informaçoes pessoais</a></li>
                <li><a href="/presencas">Histórico de Presenças</a></li>
              </ul>
            </nav>
      
        </div>

        <main>
            <div class="status">
            <h3>Status do Aluno</h3>
            <p>Segunda, 23 de janeiro de 2020</p>
            <p class="status-user">A aluna se encontra na escola</p>
            </div>
        
            <div class="painel-avisos">
                <h3>Painel de Avisos</h3>
            </div>

            <a href="/historico-atend">Ver o Histórico</a>
            <div class="chart-atendimento">
                <h3> Gráfico de linha com horários de atendimento do aluno</h3>
            </div>
        </main>

        <aside>
          <a  href="/index" class="sair">Sair</a>     
          
          <div  class="aside-1">
            

            <div class="">
              <h3>Meu perfil</h3>
              
                <img src="/images/foto-perfil.png">
                <p class="ident-user">Jane Doe</p>
                <p class="ident-user">16 anos - 2° Ano</p>
            </div>

            <footer class="footer">
              <div class="container-falta">
                <h3>Vai faltar?</h3>
                <p>Envie uma mensagem para avisar o seu professor.</p>
                <a href="/reportar-falta">Quero Avisar!</a>
              </div>
            </footer>
          </div> 
        </aside>

        

    </div>
    
</body>

</html>

    
    