<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unity | Perfil do Usuário</title>

    <link rel="icon" href="/images/icon-logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-presencas.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <aside class="sidebar" class="animate-right">
        <header>
          <img src="/images/icon-logo.png" alt="Logo da Unity" />
        </header>
  
        <footer>
          <button onclick="history.back()">
            <img src="/images/Botão.png" alt="Voltar" />
          </button>
        </footer>
      </aside>

      <main class="container">
        
      </main>
        
     
    </div>

  </body>

</html>